
body
{
    background-color: #c3f48c;
    margin: 0px;
    
}

.buttons a
{
    color: white;
    font-size: 50px;
    font-family: 'Concert One', sans-serif;
    padding-right: 50px;
    
}
.buttons
{
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}


.navbar
{
    background-image: url("Screenshot\ 2024-01-25\ 115925.png");
    background-repeat: no-repeat, repeat;
    background-size: cover;
}

.name
{
    text-decoration: none;  
}

.tips
{
    float: left;
    background-color: rgb(22, 112, 45);
    width: 50%;
    text-align: center;
    min-height:400px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
    

.facts
{
    float: right;
    background-color: rgb(16, 166, 26);
    width: 50%;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    min-height: 400px;
}
.tax
{
    text-align: center;
    background-color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height:650px;
}


img
{
  max-height: 300px;
  min-height: 300px;
  max-width: 400px;
  padding-right: 0px;
  margin-right: 10px;
}

.parent {
  display: flex;
  flex-direction:row;
  margin-top: 40px;
  margin-bottom: 40px;
}

.column {
  flex: 1 1 0px;
  object-fit: cover;
}

#left
{
  margin-left: 40px;
  
}

#quote
{
  float:left;
  max-width: 300px;
  margin-left: 40px;
  margin-right: 200px;
  background-color:aqua;
 height: auto;
}


